@using ModelosDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CuentaAhorroVm
@{
}



  <h4 class="text-center">Editar Cuenta</h4>
@using (Html.BeginForm("Editar","Cuentas",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(f=>f.Id)    
    @Html.HiddenFor(f=>f.ClienteId)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">

        <div class="form-horizontal">           
        
            <div class="form-group">
                @Html.LabelFor(m => Model.NumeroCuenta, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NumeroCuenta, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NumeroCuenta)
                    </div>
                </div>
            </div>

            <div class="form-group">
                
               
                    @Html.LabelFor(m => Model.SaldoActual, new { @class = "control-label col-sm-3" })
               
              
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.SaldoActual, new {@class = "form-control required"})
                    <div>
                        @Html.ValidationMessageFor(m => m.SaldoActual)
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>


    <div >
        <span id="progress" class="text-center" style="display: none;">
            <img src="@Url.Content("~/images/wait.gif")" alt="wait" />
            Wait..
        </span>   
        <input class="btn btn-success float-right" type="submit"  value="Guardar" />
   
    </div> 

}
  @Html.ActionLink("Regresar", "Index", "Cuentas",new{ClienteId=Model.ClienteId},new { @class="btn btn-sm btn-info", role="button"})          
     